body{
  font-family: "Helvetica";
  align-content: center;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

.body {
  background-color: white;
}

#NY{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
  font-size: 23px
  font-weight: bold;
}

.header{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.header a{
  color:white;
  font-size: 18px
}

.footer{
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
